<div class="row">
<div class="container">
    <h2 class="text-center" style="color: aliceblue;">My Growth</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name" style="color: aliceblue;">Name</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="description" style="color: aliceblue;">Description</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="complete" style="color: aliceblue;">Period</label><br>
            <input type='date' id="complete" required>
  
        </div><br>
        <button type="submit" class="btn btn-success">Add Goal</button>
    </form>
  </div>
</div>