<div class="container-fluid bodyy">
    <div class="head">
        <img src="../assets/logo.jpg" style="height: 6rem;" alt="">
        <h1>My Personal Journal</h1>
        <hr>
     
       
        </div>
        
        <div class="row ">

            <div class="col-md-6" style="background-color:black;">

                <app-diary-form></app-diary-form>
            </div>
            <div  class="col-md-6" style="text-align: center; background-color: #92A9BD;">
                <h2>My Progress</h2>
                <hr>
                <ul>
                    <li *ngFor='let diary of diarys'>
                        {{diary.id}}   {{diary.name}}
                        <app-diary-content [diary]='diary'></app-diary-content>
                    </li>
                </ul>
            </div>

    </div><br>
    <p class="text-center">for the  &#128525; of coding</p>
</div>
